body {
    font-size: 12px;
    
    a {
        color: black;
    }
    
    #testblock {
        border: 5px solid coral;
        -webkit-animation: faded 5s infinite;
    }
    
    @-webkit-keyframes $faded {
        50% {border-color: light-blue;}
    }
}
